# Solana RPC URL
RPC_URL=https://api.mainnet-beta.solana.com

# Program ID
PROGRAM_ID=7uJgmAn98LHZgaEJpLqwijy7pQMdPdvU1VBHa2oErxUx

# Token Mint
MINT_ADDRESS=rFdVw28abcqw2NrExqFY5ccuQYiGAKWaNnYX8ibyNSb

# Port
PORT=3000
